{% extends '../base.njk' %}

{% block title %} 撰写文章 {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/vendor/simplemde/simplemde.min.css">
    <script src="/vendor/simplemde/simplemde.min.js"></script>
    <style>

        .post-content{
            min-height:300px;
        }
        .CodeMirror, .CodeMirror-scroll {
            min-height: 400px;
        }
    </style>
{% endblock %}

{% block main %}

<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-md-12">
            <h3 class="page-title">撰写新文章</h3>
        </div>
        <div class="mdui-col-md-12">
            <form action="/admin/post/add" method="post" id="editForm">
                <div class="mdui-textfield ">
                    <label class="mdui-textfield-label">文章标题</label>
                    <input class="mdui-textfield-input" type="text" name="title" required/>
                </div>
                <div class="mdui-textfield">
                    <label class="mdui-textfield-label">文章内容</label>
                    <textarea class="mdui-textfield-input post-content" name="content" rows="20" required id="simplemde"></textarea>
                </div>
                <div class="mdui-textfield">
                    <button type=button class="mdui-btn mdui-ripple mdui-color-blue-grey mdui-text-color-white-icon " onclick="beforeSubmit()"  >发布文章</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        const textareaInput = $$('#simplemde');
        var simplemde = new SimpleMDE({ element: textareaInput[0]});
        function beforeSubmit(){
            textareaInput.val(simplemde.value());
            $$("#editForm")[0].submit();
        }
    </script>
{% endblock %}

