{% extends './base.njk' %}

{% block title %} {{ postInfo.title }} {% endblock %}

{% block stylesheets %}
    <script src="/vendor/markdown.min.js"></script>
    <style>
        .post-container{
            background-color: #ffffff;
            padding:50px;
        }
    </style>
{% endblock %}

{% block main %}
<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-md-12">
            <div class="post-container">
                <h1>{{ postInfo.title }}</h1>
                <p class="mdui-text-color-grey">{{ postInfo.created_at | date}}</p>
                <div id="mdContent" style="display: none;">

                </div>
                <div id="markdown-content">
                    {{ postInfo.content|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        // $$("#markdown-content").html(markdown.toHTML($$("#mdContent").html()));
    </script>
{% endblock %}